* {
    margin: 0;
    padding: 0;
}

body {
    color: #6b6b6b;
    font-family: "Poppins", sans-serif;
}

/** box 1**/

.navbar {
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-search {
    display: flex;
    justify-content: normal;
    align-items: center;
    width: 72%;
    gap: 0.6rem;
}

.med-logo {
    height: 1.3rem;
    width: 8.7rem;
}

.search-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9f9f9;
    width: 15rem;
    height: 2.5rem;
    border-radius: 1.4rem;
    padding: 0px 0.5rem;
}

.search-btn i {
    height: 1.3rem;
    width: 1.3rem;
}

.search input {
    border: none;
    width: 190px;
    padding: 0.6rem 1.25rem 0.6rem 0;
    background-color: #f9f9f9;
}

.logo-write {
    gap: 0.3rem;
    height: 1.5rem;

}

.logo-write p {
    font-size: 0.90rem;
}

.signup {
    gap: 0.9rem;
    height: 1.5rem;
    padding: 0.3rem;
}

.signup :first-child {
    text-decoration: none;
    color: white;
    font-size: 0.90rem;
    font-weight: 600;
    height: 1.6rem;
    width: 4.3rem;
    background-color: #4b84f3;
    border-radius: 1.4rem;
}

.signup :nth-child(2) {
    text-decoration: none;
    font-size: 0.90rem;
    color: #6b6b6b;
}

.btn {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-image: url(https://miro.medium.com/v2/resize:fill:64:64/1*dmbNkD5D-u45r44go_cf0g.png);
    background-size: contain;
}

/** box 2 **/

contentarea {
    text-align: center;
    flex-direction: column;
}

contentarea h1 {
    font-size: 2.6rem;
    font-weight: bolder;
    color: black;
    margin: 3.06rem 0;
    line-height: 3.25rem;
    text-align: left;
    display: block;
}

.profile-container {
    display: flex;
    justify-content: normal;
    align-items: center;
    height: auto;
}

.profile-photo {
    height: 2.9rem;
    width: 2.9rem;
    border-radius: 50%;
    background-image: url(https://miro.medium.com/v2/resize:fill:88:88/1*YroCtVizChREdt5Lfn4vEg.jpeg);
    background-size: contain;
    border: 0.8px solid #b4b4b4;
}

.profile-linker {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-image: url(https://miro.medium.com/v2/resize:fill:48:48/1*5D9oYBd58pyjMkV_5-zXXQ.jpeg);
    background-size: contain;
    position: relative;
    right: 0.4rem;
    bottom: -0.56rem;
}

.profile-name {
    display: grid;
    grid-template-rows: 50% 50%;
}

.profile-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
}

.follow {
    color: #4b84f3;
}

.profile-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 0.80rem;
}

.two-combine {
    column-gap: 0.5rem;
}

.publish {
    column-gap: 0.5rem;
}

.min-read {
    column-gap: 0.5rem;
}



/** line **/

.grey-line {
    border: 0.06rem solid #dddddd;
    margin: 0.12rem;
}


/** box 3**/

.appreciate-container {
    display: flex;
    justify-content: space-between;
    margin: 0.40rem 0.56rem;
    align-items: center;
}


.clap {
    column-gap: 0.4rem;
}

.sls-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}


/** Content Area **/

.websites-10 img {
    width: 100%;
    height: 100%;
}

.websites-10 {
    height: auto;
}

.para-1 {
    text-align: left;
    font-weight: 400;
    font-family: serif;
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.ol-list {
    list-style: none;
}

.dot-3 {
    font-size: 1rem;
    column-gap: 1rem;
    font-weight: bolder;
    font-family: sans-serif;
    /* padding: 1.5rem 0rem 0.65rem 0rem; */
    margin: 2rem 0rem 0.90rem 0rem;
}

.btn-5-container {
    margin-top: 0.40rem;
    margin-bottom: 1.8rem;
}

.btn-5 {
    column-gap: 0.50rem;
    font-size: 0.85 rem;
    margin-top: 4rem;
}

.box {
    height: 2rem;
    border: none;
    border-radius: 1rem;
    padding: 0rem 1rem;
}


.appreciate-container-2 {
    display: flex;
    justify-content: space-between;
    margin: 0.18rem 0.56rem;
    align-items: center;
    margin-bottom: 5.5rem;
}

.levelup-img {}

img {
    object-fit: cover;
    mask-repeat: no-repeat;
}

.img-f {
    height: 10rem;
    width: 20rem;
}